@{
    ViewData["Title"] = "Dataset Access";
}

<h1>Accessing Dataset #@ViewBag.DatasetId</h1>

<p>You are now accessing the dataset in the Secure Processing Environment.</p>

<a class="btn btn-secondary" asp-controller="Dataset" asp-action="AccessDataset">Back to Dataset List</a>